In [1140]:
import pandas as pd
import numpy as np

# 1. Load the dataset

In [1141]:
df = pd.read_csv("blogtext.csv")

In [1142]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [1143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681284 entries, 0 to 681283
Data columns (total 7 columns):
id        681284 non-null int64
gender    681284 non-null object
age       681284 non-null int64
topic     681284 non-null object
sign      681284 non-null object
date      681284 non-null object
text      681284 non-null object
dtypes: int64(2), object(5)
memory usage: 36.4+ MB

In [1144]:
#check missing values
df.isnull().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [1145]:
#no of entries
df.shape

(681284, 7)

In [1146]:
#taking only first 3 lakh entries for processing
#df = df.iloc[0:300000]
#df = df.iloc[0:100000]
df = df.iloc[0:5000]

In [1147]:
df.shape

(5000, 7)

# 2. Pre-process rows of the text column

In [1148]:
!pip install nltk --quiet

In [1149]:
import nltk

In [1150]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nm949133\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [1151]:
#before removing the special characters
df['text']

0                  Info has been found (+/- 100 pages,...
1                  These are the team members:   Drewe...
2                  In het kader van kernfusie op aarde...
3                        testing!!!  testing!!!
4                    Thanks to Yahoo!'s Toolbar I can ...
5                    I had an interesting conversation...
6                    Somehow Coca-Cola has a way of su...
7                    If anything, Korea is a country o...
8                    Take a read of this news article ...
9                    I surf the English news sites a l...
10                   Ah, the Korean language...it look...
11                   If you click on my profile you'll...
12                   Last night was pretty fun...mostl...
13                   There is so much that is differen...
14                    urlLink    Here it is, the super...
15                   One thing I love about Seoul (and...
16                    urlLink    Wonderful oh-gyup-sal...
17                   Here is the latest from the Korea...
18                   Well, I stand corrected, again.  ...
19                   So I've been in Vancouver a few d...
20                   Whenever I see a pregnant Korean ...
21                   My wife posed a strange question ...
22                   As readers will know, my favorite...
23                   When I was in Seoul these last fe...
24                   You may have noticed a new featur...
25                   Korea, especially Seoul, is prett...
26                   It seems everything is not all th...
27                   This may be a long blog...got a l...
28                   I've always thought of Seoul's  u...
29                   Big cities are famous for being e...
                              ...
4970           mm...  I was going to rant about time/c...
4971           So, I guess its kind of like this... I ...
4972           this shade of red looks more and more l...
4973           ...look at me... teaching myself html.....
4974           My name is Rachel.  {duh, we already kn...
4975           Another depressing song... I don't know...
4976           I've been falling to pieces for the pas...
4977           I'm suffocating. My lungs are bursting....
4978           peaches are the nectar of the gods.  mm...
4979           AHHH. I need a pillow to scream into. o...
4980             Young.  Really young.  I'd say anywhe...
4981                                  that's Sama...
4982
4983
4984             this one looks kinda cool squished li...
4985             yay for uploading my pics on to angel...
4986           Ok, so this is the last time today, I p...
4987           oh, and I forgot...  last night at cant...
4988           So, I got a new commenting host... I di...
4989           Last night was NOT a good night. {end o...
4990           Sometimes, I swear this song is about m...
4991           so much for sleeping...  I know what ti...
4992           I am: a miserable failure incredibly ir...
4993           hey I've had almost 300 hits... WHO ARE...
4994           This is that Sylvia Plath poem I was ta...
4995           So... I had another one of those dreams...
4996           mmm... strawberry tea for breakfast. To...
4997           Yay for a new layout!!  Yeah, I know, I...
4998           Ok, so I lied... Fed up isn't playing F...
4999           well, today I went to church and talked...
Name: text, Length: 5000, dtype: object

## Remove Unwanted Characters

In [1152]:
import re

In [1153]:
# we will use regex library to remove the unwanted characters
# replace all characters, except alphabets and numbers, with a space and create a new column as text2
df['text2'] = [re.sub("[^A-Za-z0-9]+"," ",e) for e in df['text']]

In [1154]:
# after removing unwanted characters
df['text2']

0        Info has been found 100 pages and 4 5 MB of p...
1        These are the team members Drewes van der Laa...
2        In het kader van kernfusie op aarde MAAK JE E...
3                                        testing testing
4        Thanks to Yahoo s Toolbar I can now capture t...
5        I had an interesting conversation with my Dad...
6        Somehow Coca Cola has a way of summing up thi...
7        If anything Korea is a country of extremes Ev...
8        Take a read of this news article from urlLink...
9        I surf the English news sites a lot looking f...
10       Ah the Korean language it looks so difficult ...
11       If you click on my profile you ll make a not ...
12       Last night was pretty fun mostly because of t...
13       There is so much that is different here from ...
14       urlLink Here it is the superfantastic phonebo...
15       One thing I love about Seoul and I mean this ...
16       urlLink Wonderful oh gyup sal at my favorite ...
17       Here is the latest from the Korean rumor mill...
18       Well I stand corrected again Yesterday I blog...
19       So I ve been in Vancouver a few days now in C...
20       Whenever I see a pregnant Korean lady I reall...
21       My wife posed a strange question to me tonigh...
22       As readers will know my favorite airline is S...
23       When I was in Seoul these last few months I t...
24       You may have noticed a new feature on my blog...
25       Korea especially Seoul is pretty cool and Can...
26       It seems everything is not all that smooth in...
27       This may be a long blog got a lot of thoughts...
28       I ve always thought of Seoul s urlLink subway...
29       Big cities are famous for being expensive pla...
                              ...
4970     mm I was going to rant about time clocks watc...
4971     So I guess its kind of like this I already to...
4972     this shade of red looks more and more like bl...
4973     look at me teaching myself html well I suppos...
4974     My name is Rachel duh we already knew that ra...
4975     Another depressing song I don t know why I li...
4976     I ve been falling to pieces for the past seve...
4977     I m suffocating My lungs are bursting If you ...
4978     peaches are the nectar of the gods mmmmmmmmm ...
4979     AHHH I need a pillow to scream into oh and th...
4980     Young Really young I d say anywhere from 15 3...
4981                                         that s Sama
4982
4983
4984        this one looks kinda cool squished like that
4985     yay for uploading my pics on to angelfire and...
4986     Ok so this is the last time today I promise I...
4987     oh and I forgot last night at cantor practice...
4988     So I got a new commenting host I didn t like ...
4989     Last night was NOT a good night end of story ...
4990     Sometimes I swear this song is about me 3am M...
4991     so much for sleeping I know what time it is I...
4992     I am a miserable failure incredibly irrespons...
4993     hey I ve had almost 300 hits WHO ARE ALL OF Y...
4994     This is that Sylvia Plath poem I was talking ...
4995     So I had another one of those dreams last nig...
4996     mmm strawberry tea for breakfast Tomorrow I t...
4997     Yay for a new layout Yeah I know I need to ge...
4998     Ok so I lied Fed up isn t playing Friday nigh...
4999     well today I went to church and talked to the...
Name: text2, Length: 5000, dtype: object

## convert text to lowercase

In [1155]:
#converting all the words to lowercase using lower() function
df['text3'] = [word.lower() for word in df['text2']]

In [1156]:
df['text3']

0        info has been found 100 pages and 4 5 mb of p...
1        these are the team members drewes van der laa...
2        in het kader van kernfusie op aarde maak je e...
3                                        testing testing
4        thanks to yahoo s toolbar i can now capture t...
5        i had an interesting conversation with my dad...
6        somehow coca cola has a way of summing up thi...
7        if anything korea is a country of extremes ev...
8        take a read of this news article from urllink...
9        i surf the english news sites a lot looking f...
10       ah the korean language it looks so difficult ...
11       if you click on my profile you ll make a not ...
12       last night was pretty fun mostly because of t...
13       there is so much that is different here from ...
14       urllink here it is the superfantastic phonebo...
15       one thing i love about seoul and i mean this ...
16       urllink wonderful oh gyup sal at my favorite ...
17       here is the latest from the korean rumor mill...
18       well i stand corrected again yesterday i blog...
19       so i ve been in vancouver a few days now in c...
20       whenever i see a pregnant korean lady i reall...
21       my wife posed a strange question to me tonigh...
22       as readers will know my favorite airline is s...
23       when i was in seoul these last few months i t...
24       you may have noticed a new feature on my blog...
25       korea especially seoul is pretty cool and can...
26       it seems everything is not all that smooth in...
27       this may be a long blog got a lot of thoughts...
28       i ve always thought of seoul s urllink subway...
29       big cities are famous for being expensive pla...
                              ...
4970     mm i was going to rant about time clocks watc...
4971     so i guess its kind of like this i already to...
4972     this shade of red looks more and more like bl...
4973     look at me teaching myself html well i suppos...
4974     my name is rachel duh we already knew that ra...
4975     another depressing song i don t know why i li...
4976     i ve been falling to pieces for the past seve...
4977     i m suffocating my lungs are bursting if you ...
4978     peaches are the nectar of the gods mmmmmmmmm ...
4979     ahhh i need a pillow to scream into oh and th...
4980     young really young i d say anywhere from 15 3...
4981                                         that s sama
4982
4983
4984        this one looks kinda cool squished like that
4985     yay for uploading my pics on to angelfire and...
4986     ok so this is the last time today i promise i...
4987     oh and i forgot last night at cantor practice...
4988     so i got a new commenting host i didn t like ...
4989     last night was not a good night end of story ...
4990     sometimes i swear this song is about me 3am m...
4991     so much for sleeping i know what time it is i...
4992     i am a miserable failure incredibly irrespons...
4993     hey i ve had almost 300 hits who are all of y...
4994     this is that sylvia plath poem i was talking ...
4995     so i had another one of those dreams last nig...
4996     mmm strawberry tea for breakfast tomorrow i t...
4997     yay for a new layout yeah i know i need to ge...
4998     ok so i lied fed up isn t playing friday nigh...
4999     well today i went to church and talked to the...
Name: text3, Length: 5000, dtype: object

## remove unwanted spaces

In [1157]:
# replace all 'more than 1 spaces' as single space and create a new column as text4
df['text4'] = (df['text3'].str.split()).str.join(' ')

In [1158]:
df['text4']

0       info has been found 100 pages and 4 5 mb of pd...
1       these are the team members drewes van der laag...
2       in het kader van kernfusie op aarde maak je ei...
3                                         testing testing
4       thanks to yahoo s toolbar i can now capture th...
5       i had an interesting conversation with my dad ...
6       somehow coca cola has a way of summing up thin...
7       if anything korea is a country of extremes eve...
8       take a read of this news article from urllink ...
9       i surf the english news sites a lot looking fo...
10      ah the korean language it looks so difficult a...
11      if you click on my profile you ll make a not s...
12      last night was pretty fun mostly because of th...
13      there is so much that is different here from a...
14      urllink here it is the superfantastic phonebox...
15      one thing i love about seoul and i mean this a...
16      urllink wonderful oh gyup sal at my favorite p...
17      here is the latest from the korean rumor mill ...
18      well i stand corrected again yesterday i blogg...
19      so i ve been in vancouver a few days now in co...
20      whenever i see a pregnant korean lady i really...
21      my wife posed a strange question to me tonight...
22      as readers will know my favorite airline is si...
23      when i was in seoul these last few months i th...
24      you may have noticed a new feature on my blog ...
25      korea especially seoul is pretty cool and cana...
26      it seems everything is not all that smooth in ...
27      this may be a long blog got a lot of thoughts ...
28      i ve always thought of seoul s urllink subways...
29      big cities are famous for being expensive plac...
                              ...
4970    mm i was going to rant about time clocks watch...
4971    so i guess its kind of like this i already tol...
4972    this shade of red looks more and more like blo...
4973    look at me teaching myself html well i suppose...
4974    my name is rachel duh we already knew that rac...
4975    another depressing song i don t know why i lik...
4976    i ve been falling to pieces for the past sever...
4977    i m suffocating my lungs are bursting if you h...
4978    peaches are the nectar of the gods mmmmmmmmm s...
4979    ahhh i need a pillow to scream into oh and thi...
4980    young really young i d say anywhere from 15 35...
4981                                          that s sama
4982
4983
4984         this one looks kinda cool squished like that
4985    yay for uploading my pics on to angelfire and ...
4986    ok so this is the last time today i promise i ...
4987    oh and i forgot last night at cantor practice ...
4988    so i got a new commenting host i didn t like t...
4989    last night was not a good night end of story t...
4990    sometimes i swear this song is about me 3am ma...
4991    so much for sleeping i know what time it is i ...
4992    i am a miserable failure incredibly irresponsi...
4993    hey i ve had almost 300 hits who are all of yo...
4994    this is that sylvia plath poem i was talking a...
4995    so i had another one of those dreams last nigh...
4996    mmm strawberry tea for breakfast tomorrow i th...
4997    yay for a new layout yeah i know i need to get...
4998    ok so i lied fed up isn t playing friday night...
4999    well today i went to church and talked to the ...
Name: text4, Length: 5000, dtype: object

## Remove stopwords

In [1159]:
#from nltk.corpus import stopwords
#stop = stopwords.words('english')

#df['text5'] = df['text4'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [1160]:
#df['text5']

In [1161]:
#df.head()

# clean_text

In [1162]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "can not ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r"\'scuse", " excuse ", text)
    text = re.sub('\W', ' ', text)
    text = re.sub('\s+', ' ', text)
    text = text.strip(' ')
    return text

In [1241]:
df['text5'] = df['text4'].map(lambda com : clean_text(com))
df['text5'][3]

'testing testing'

# Do Lemmatization

In [1164]:
from nltk.stem import WordNetLemmatizer

def get_lemmatized_text(corpus):
    
    lemmatizer = WordNetLemmatizer()
    return [' '.join([lemmatizer.lemmatize(word) for word in review.split()]) for review in corpus]

In [1165]:
#Create a new column to hold lemmatized reviews
df['text5'] = get_lemmatized_text(df['text5'].tolist())

In [1166]:
df.head()

,id,gender,age,topic,sign,date,text,text2,text3,text4,text5
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info has been found 100 pages and 4 5 MB of p...,info has been found 100 pages and 4 5 mb of p...,info has been found 100 pages and 4 5 mb of pd...,info ha been found 100 page and 4 5 mb of pdf ...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These are the team members Drewes van der Laa...,these are the team members drewes van der laa...,these are the team members drewes van der laag...,these are the team member drewes van der laag ...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde MAAK JE E...,in het kader van kernfusie op aarde maak je e...,in het kader van kernfusie op aarde maak je ei...,in het kader van kernfusie op aarde maak je ei...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing,testing testing,testing testing,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks to Yahoo s Toolbar I can now capture t...,thanks to yahoo s toolbar i can now capture t...,thanks to yahoo s toolbar i can now capture th...,thanks to yahoo s toolbar i can now capture th...

In [1167]:
df['text5'][0]

'info ha been found 100 page and 4 5 mb of pdf file now i have to wait untill our team leader ha processed it and learns html'

# Do Stemming

In [1168]:
from nltk.stem import PorterStemmer

#Function to Stem words
def get_stemmed_text(corpus):
    stemmer = PorterStemmer()
    return [' '.join([stemmer.stem(word) for word in review.split()]) for review in corpus]

In [1169]:
df['text5'] = get_stemmed_text(df['text5'].tolist())

In [1170]:
df.head()

,id,gender,age,topic,sign,date,text,text2,text3,text4,text5
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info has been found 100 pages and 4 5 MB of p...,info has been found 100 pages and 4 5 mb of p...,info has been found 100 pages and 4 5 mb of pd...,info ha been found 100 page and 4 5 mb of pdf ...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These are the team members Drewes van der Laa...,these are the team members drewes van der laa...,these are the team members drewes van der laag...,these are the team member drew van der laag ur...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde MAAK JE E...,in het kader van kernfusie op aarde maak je e...,in het kader van kernfusie op aarde maak je ei...,in het kader van kernfusi op aard maak je eige...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing,testing testing,testing testing,test test
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks to Yahoo s Toolbar I can now capture t...,thanks to yahoo s toolbar i can now capture t...,thanks to yahoo s toolbar i can now capture th...,thank to yahoo s toolbar i can now captur the ...

In [1245]:
df['text5'][4111]

'as i burned my tongue on my oatmeal this morning i started thinking about how my life has lately been a pure example of ying yang a complete balance of good bad examples being first of all i had to cancel a very chi chi dinner i had planned to include a 5 course meal under a full miami moon oceanside with 4 french wines to accompany the meal masquerade gourmet cuisine great people to say the least i was extremely dissapointed in what to me represented complete and utter failure on my part but then on the day of the cancelled dinner someone handed me an article extolling another past event that i put together the writer bless him described the event as cozy and refreshing with the company of gentle folk as he described it exactly as i remember it and i felt really good to know that someone else besides myself really enjoyed the fruits of my labor so i am once again reminded that you take the good with the bad even when i am at my lowest point it takes so little to bring me back to the sunny side of life thanks mr dolen'

In [1172]:
df_cleantext = df.copy(deep=True)

In [1173]:
df_cleantext['text'] = df_cleantext['text5']
df_cleantext.drop(['text2','text3','text4','text5'],axis=1,inplace=True)

In [1174]:
df_cleantext.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004",info ha been found 100 page and 4 5 mb of pdf ...
1,2059027,male,15,Student,Leo,"13,May,2004",these are the team member drew van der laag ur...
2,2059027,male,15,Student,Leo,"12,May,2004",in het kader van kernfusi op aard maak je eige...
3,2059027,male,15,Student,Leo,"12,May,2004",test test
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thank to yahoo s toolbar i can now captur the ...

# 3. As we want to make this into a multi-label classification problem, you are required to merge all the label columns together, so that we have all the labels together for a particular sentence (7.5 points)
## a. Label columns to merge: gender, age, topic, sign
## b. After completing the previous step, there should be only two columns in your data frame i.e. text and labels as shown in the below image

In [1175]:
df_merge=df_cleantext.copy(deep=True)

In [1176]:
df_merge.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004",info ha been found 100 page and 4 5 mb of pdf ...
1,2059027,male,15,Student,Leo,"13,May,2004",these are the team member drew van der laag ur...
2,2059027,male,15,Student,Leo,"12,May,2004",in het kader van kernfusi op aard maak je eige...
3,2059027,male,15,Student,Leo,"12,May,2004",test test
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thank to yahoo s toolbar i can now captur the ...

In [1177]:
df_merge.shape

(5000, 7)

In [1178]:
df_merge.dtypes

id         int64
gender    object
age        int64
topic     object
sign      object
date      object
text      object
dtype: object

In [1179]:
#df_merge['labels']='[' + df_merge['gender'] + ',' + df_merge['age'].astype(str)  + ',' + df_merge['topic'] + ',' +df_merge['sign'] + ']' 
df_merge['labels']=df_merge['gender'] + ',' + df_merge['age'].astype(str)  + ',' + df_merge['topic'] + ',' +df_merge['sign']

In [1180]:
df_modified = pd.DataFrame(df_merge, columns  =['text', 'labels'])
df_modified.head()

,text,labels
0,info ha been found 100 page and 4 5 mb of pdf ...,"male,15,Student,Leo"
1,these are the team member drew van der laag ur...,"male,15,Student,Leo"
2,in het kader van kernfusi op aard maak je eige...,"male,15,Student,Leo"
3,test test,"male,15,Student,Leo"
4,thank to yahoo s toolbar i can now captur the ...,"male,33,InvestmentBanking,Aquarius"

In [1181]:
df_modified.shape

(5000, 2)

# 4. Separate features and labels, and split the data into training and testing (5 points)

In [1182]:
from sklearn.model_selection import train_test_split

In [1183]:
# split X and y into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(df_modified.text, df_modified.labels, test_size=0.2,random_state=2)

In [1184]:
#Training data
print(x_train.shape)
print(y_train.shape)

(4000,)
(4000,)

In [1185]:
#Test data
print(x_test.shape)
print(y_test.shape)

(1000,)
(1000,)

In [1186]:
x_train

868     ye thi mean that i am back home again actual w...
936     well look at the amount of homework i ve got f...
4034    hey it s been a bit wow king arthur wa the las...
1923    from the secret citi what doe ad free my fello...
3330    i ll probabl be move to canada in decemb we ge...
676     i m back unfortun i got my mattress yesterday ...
1145    music zanzibar suburban legend fall without yo...
1301    spare the rod save the child missouri s youth ...
2458    man wear name tag to make the world a friendli...
1242    everyth s lost everyth fade you have noth and ...
4195    ugh haircut everytim i get my hair cut i m rem...
3670    but is there a cure from an honest to god real...
3160    meanwhil thi headlin from cnn polic await mich...
3970    anoth day confus weav a web around my thought ...
4315    and later that day i receiv a call today from ...
2965    from a post on monster other critic requir sig...
3593             the berat will continu until blog improv
625     i got realli angri at my hair last night caus ...
4815    the miami dolphin beat the buffalo bill to go ...
2611    the onli discrep in the whole articl that trou...
2887               salt in my eye dear god it burn aieeee
2732                       urllink fotographi and forgeri
3435    i agre that it isn t ideolog i wa just toss th...
1595                                                quack
1715    yeah that is the news medium for you want to s...
4396    there may be hope yet if a urllink leopard and...
4241               just for fred urllink the horoscop guy
4064    a day of wast time at work two blog in one day...
819     yep that s what mapquest say for the time to g...
848     mummi daddi wake up we re go to the beach toda...
                              ...
3122             urllink emancip for secondari hard drive
3310    seem i wasn t the onli one serv urllink fake t...
1588                            yeah but what a way to go
3664    an interest urllink articl concern the prohibi...
2498    clarificaton i am specif address the artifact ...
31      urllink the busi class tag for baggag i have t...
3283    and a far a social medicin is concern the best...
1375    well i turn in my last project today yeah it a...
1326    tunafisher88 u sound like a 45 year old ladi r...
3780    lol yeah umm onli my sister and my brother wou...
1349                urllink gettin some kiss nbsp urllink
255     late i ve been have the more bore lame dream e...
3642    look urllink here for confirm on the miss butt...
3622    urllink which of the greek god are you urllink...
4147    aaarrrrggggghhhhh i just realiz that i have lo...
4971    so i guess it kind of like thi i alreadi told ...
2727    jl i don t think the o is the issu the messag ...
3700    here is tuesday s clue in the search for shani...
124     ju came back from piano lesson lesson wa like ...
2778                 the new strong bad email not so good
2879    link on monster com not just a job your final ...
2773    johnathan you are such a sick puppi it s a goo...
2635    i m probabl becom fascin by minutia here but t...
433     yayyyyyyyi urllink what find nemo charact are ...
4770    what s realli import what s it all about thi h...
3335                                                uh no
1099    wow that s all i m say kid wow i love that sho...
2514        a fairli inept termin though wouldn t you say
3606    i wa read a book full of odd trivia the other ...
2575    thank guy for all the support tee hee hee they...
Name: text, Length: 4000, dtype: object

# 5. Vectorize the features (5 points)
## a. Create a Bag of Words using count vectorizer
### i. Use ngram_range=(1, 2)
### ii. Vectorize training and testing features
## b. Print the term-document matrix

In [1187]:
# import and instantiate CountVectorizer (with the default parameters)
from sklearn.feature_extraction.text import CountVectorizer
cvect = CountVectorizer(stop_words='english', ngram_range=(1,2))

In [1188]:
#Feed text data to CountVectorizer
cvect.fit(x_train)

#Check the vocablury size
len(cvect.vocabulary_)

239055

In [1189]:
#What is there in the vocabulary
cvect.vocabulary_

{'ye': 236987,
 'thi': 205116,
 'mean': 130435,
 'home': 97208,
 'actual': 5855,
 'got': 85324,
 'saturday': 177532,
 'night': 141587,
 'pretti': 160964,
 'busi': 30723,
 'trip': 214523,
 'wa': 223308,
 'awesom': 17420,
 'onli': 146221,
 'time': 209291,
 'chicago': 36692,
 'twice': 216040,
 'just': 109172,
 'connector': 43867,
 'flight': 76408,
 'hare': 91942,
 'seen': 180796,
 'citi': 38225,
 'stay': 195028,
 'downtown': 60222,
 'walk': 225734,
 'lake': 114254,
 'shore': 184115,
 'park': 150351,
 'area': 13973,
 'beauti': 20173,
 'unfortun': 217426,
 'traffic': 213138,
 'terribl': 204100,
 'wors': 235263,
 'nyc': 143756,
 'imo': 102060,
 'heard': 93295,
 'la': 113803,
 'realli': 167553,
 'piti': 155664,
 'everyth': 68494,
 'like': 118878,
 'museum': 137571,
 'shedd': 183230,
 'aquarium': 13814,
 'close': 39419,
 'day': 51033,
 'friday': 79311,
 'went': 230152,
 'visit': 222709,
 'campu': 32116,
 'love': 125078,
 'felt': 74032,
 'sort': 191208,
 'prioriti': 161582,
 'want': 226302,
 'proud': 163216,
 'theyr': 205104,
 'school': 179095,
 'undef': 216995,
 'notr': 143254,
 'dame': 50039,
 'footbal': 77552,
 'yeah': 237244,
 'someth': 189757,
 'think': 207054,
 'probabl': 161752,
 'yale': 236828,
 'william': 232021,
 'mari': 128884,
 'plu': 157277,
 'littl': 121287,
 'easier': 62743,
 'surpris': 200255,
 'took': 212009,
 'basebal': 19318,
 'seri': 181920,
 'cub': 48674,
 'sox': 191741,
 'start': 194189,
 'left': 116636,
 'contribut': 44778,
 'obsess': 144027,
 'near': 139307,
 'ohio': 145070,
 'state': 194648,
 'level': 117643,
 'columbu': 40926,
 'inascertain': 102514,
 'benchmark': 22610,
 'irrat': 105844,
 'say': 178009,
 'bad': 17993,
 'ani': 10995,
 'live': 121857,
 'drove': 61358,
 'st': 193536,
 'loui': 125029,
 'hotel': 98747,
 'room': 174732,
 'upgrad': 218294,
 'vip': 222560,
 'suit': 198873,
 'custom': 49226,
 'sure': 199905,
 'cool': 45193,
 'ate': 15874,
 'buck': 29714,
 'clayton': 38898,
 'suburb': 198283,
 'realiz': 167407,
 'sport': 193144,
 'guess': 88116,
 'isnt': 106149,
 'els': 64281,
 'midwest': 132814,
 'narrow': 138252,
 'mind': 133204,
 'morn': 136000,
 'wustl': 236442,
 'uc': 216409,
 'place': 155744,
 'wouldnt': 235615,
 'appli': 13511,
 'meet': 131183,
 'sunday': 199235,
 'camp': 32018,
 'counselor': 46165,
 'help': 94325,
 'church': 37883,
 '3rd': 2970,
 'grade': 86320,
 'boy': 27690,
 'week': 229318,
 'juli': 108918,
 '10': 471,
 'look': 123642,
 'forward': 78356,
 'tournament': 212740,
 'yr': 238649,
 'gang': 81620,
 'rape': 166229,
 'mosquito': 136329,
 'earli': 62389,
 'tri': 213943,
 'possibl': 158998,
 'overcam': 148638,
 'extent': 70374,
 'end': 65216,
 'shoot': 183911,
 '89': 4085,
 'sound': 191427,
 'play': 156556,
 'veri': 221457,
 'hole': 96988,
 'tripl': 214637,
 'bogey': 26370,
 'quad': 164330,
 'away': 17133,
 'decent': 52428,
 'round': 175102,
 'cours': 46655,
 'tough': 212646,
 'hadnt': 89892,
 'befor': 21385,
 'tie': 209025,
 '2nd': 2500,
 'idea': 100867,
 'strong': 197220,
 'leagu': 116120,
 '86': 4052,
 'won': 233280,
 'group': 87665,
 'lost': 124460,
 'ball': 18509,
 'foursom': 78492,
 'kid': 111020,
 'kept': 110627,
 'hit': 96456,
 'tee': 203257,
 'sat': 177368,
 'ground': 87580,
 'wait': 225404,
 'crack': 47338,
 'kind': 111495,
 'judg': 108802,
 'american': 10239,
 'idol': 101195,
 'dure': 61975,
 'audit': 16516,
 'mad': 126437,
 'funniest': 80911,
 'coupl': 46492,
 'humor': 100104,
 'thing': 206364,
 'score': 179521,
 '12': 916,
 'cheat': 36181,
 'case': 33538,
 'wonder': 233455,
 'birdi': 24113,
 'ha': 89040,
 'believ': 22145,
 'spiderman': 192780,
 'wednesday': 229250,
 'brad': 27938,
 'pick': 154752,
 'bunch': 30257,
 'ticket': 208917,
 'hope': 97993,
 'everyon': 68267,
 'dont': 59669,
 'sit': 186521,
 'aisl': 8361,
 'dodgebal': 58483,
 'post': 159155,
 'rent': 170811,
 '1st': 1728,
 'sinc': 185812,
 'havent': 92581,
 'long': 123271,
 'congrat': 43705,
 'way': 228140,
 'ye thi': 237203,
 'thi mean': 205746,
 'mean home': 130590,
 'home actual': 97224,
 'actual got': 5992,
 'got saturday': 85792,
 'saturday night': 177576,
 'night pretti': 141869,
 'pretti busi': 160980,
 'busi trip': 30858,
 'trip wa': 214623,
 'wa awesom': 223477,
 'awesom onli': 17465,
 'onli time': 146753,
 'time chicago': 209422,
 'chicago twice': 36704,
 'twice just': 216057,
 'just connector': 109358,
 'connector flight': 43868,
 'flight hare': 76436,
 'hare thi': 91943,
 'thi wa': 206269,
 'wa time': 225070,
 'time seen': 209920,
 'seen citi': 180826,
 'citi stay': 38353,
 'stay downtown': 195062,
 'downtown walk': 60249,
 'walk lake': 225866,
 'lake shore': 114268,
 'shore park': 184123,
 'park area': 150354,
 'area wa': 14055,
 'wa beauti': 223510,
 'beauti unfortun': 20290,
 'unfortun traffic': 217473,
 'traffic wa': 213165,
 'wa terribl': 225048,
 'terribl wors': 204142,
 'wors nyc': 235300,
 'nyc imo': 143767,
 'imo heard': 102067,
 'heard la': 93346,
 'la traffic': 113900,
 'traffic wors': 213168,
 'wors realli': 235307,
 'realli piti': 167867,
 'piti everyth': 155666,
 'everyth like': 68602,
 'like museum': 119715,
 'museum shedd': 137595,
 'shedd aquarium': 183231,
 'aquarium wa': 13818,
 'wa close': 223693,
 'close day': 39444,
 'day friday': 51275,
 'friday went': 79398,
 'went visit': 230578,
 'visit campu': 222724,
 'campu love': 32122,
 'love chicago': 125171,
 'chicago just': 36697,
 'just felt': 109497,
 'felt like': 74092,
 'like sort': 120039,
 'sort prioriti': 191268,
 'prioriti want': 161588,
 'want proud': 226715,
 'proud theyr': 163247,
 'theyr onli': 205112,
 'onli school': 146673,
 'school undef': 179338,
 'undef notr': 216996,
 'notr dame': 143255,
 'dame footbal': 50041,
 'footbal yeah': 77582,
 'yeah someth': 237389,
 'someth campu': 189816,
 'campu wa': 32125,
 'beauti think': 20282,
 'think probabl': 207613,
 'probabl school': 161903,
 'school yale': 179360,
 'yale william': 236830,
 'william mari': 232033,
 'mari plu': 128899,
 'plu littl': 157320,
 'littl easier': 121430,
 'easier wa': 62791,
 'wa surpris': 225011,
 'surpris chicago': 200275,
 'chicago took': 36703,
 'took basebal': 212032,
 'basebal citi': 19325,
 'citi seri': 38343,
 'seri cub': 181926,
 'cub sox': 48679,
 'sox wa': 191775,
 'wa start': 224959,
 'start day': 194275,
 'day left': 51366,
 'left probabl': 116794,
 'probabl contribut': 161796,
 'contribut obsess': 44790,
 'obsess wa': 144060,
 'wa near': 224480,
 'near ohio': 139364,
 'ohio state': 145087,
 'state footbal': 194723,
 'footbal level': 77569,
 'level columbu': 117660,
 'columbu inascertain': 40931,
 'inascertain level': 102515,
 'level benchmark': 117649,
 'benchmark irrat': 22611,
 'irrat obsess': 105847,
 'obsess say': 144052,
 'say bad': 178058,
 'bad ani': 18002,
 'ani mean': 11210,
 'mean think': 130766,
 'think live': 207468,
 'live citi': 121907,
 'citi like': 38301,
 'like visit': 120207,
 'visit drove': 222743,
 'drove st': 61393,
 'st loui': 193553,
 'loui friday': 125032,
 'friday night': 79368,
 'night hotel': 141765,
 'hotel room': 98796,
 'room wa': 174901,
 'wa upgrad': 225153,
 'upgrad vip': 218307,
 'vip suit': 222566,
 'suit custom': 198884,
 'custom day': 49231,
 'day sure': 51624,
 'sure room': 200093,
 'wa cool': 223740,
 'cool ate': 45204,
 'ate buck': 15880,
 'buck clayton': 29716,
 'clayton suburb': 38899,
 'suburb realiz': 198286,
 'realiz st': 167525,
 'loui wa': 125040,
 'wa probabl': 224667,
 'probabl sport': 161918,
 'sport chicago': 193151,
 'chicago guess': 36696,
 'guess isnt': 88225,
 'isnt els': 106163,
 'els midwest': 64399,
 'midwest narrow': 132817,
 'narrow mind': 138261,
 'mind saturday': 133382,
 'saturday morn': 177573,
 'morn visit': 136249,
 'visit wustl': 222830,
 'wustl like': 236444,
 'like uc': 120178,
 'uc place': 216410,
 'place wouldnt': 156106,
 'wouldnt mind': 235625,
 'mind think': 133417,
 'think appli': 207097,
 'appli got': 13519,
 'night time': 141961,
 'time meet': 209754,
 'meet sunday': 131302,
 'sunday morn': 199284,
 'morn camp': 136044,
 'camp counselor': 32030,
 'counselor camp': 46168,
 'camp help': 32044,
 'help church': 94367,
 'church 3rd': 37884,
 '3rd grade': 2977,
 'grade boy': 86327,
 'boy week': 27810,
 'week juli': 229479,
 'juli 10': 108919,
 '10 think': 576,
 'think say': 207665,
 'say look': 178355,
 'look forward': 123785,
 'forward thi': 78411,
 'thi morn': 205778,
 'morn tournament': 136242,
 'tournament yr': 212758,
 'yr wa': 238677,
 'wa gang': 224075,
 'gang rape': 81628,
 'rape mosquito': 166240,
 'mosquito earli': 136332,
 'earli tri': 62475,
 'tri littl': 214161,
 'littl possibl': 121659,
 'possibl overcam': 159104,
 'overcam extent': 148639,
 'extent end': 70377,
 'end shoot': 65502,
 'shoot 89': 183913,
 '89 sound': 4089,
 'sound terribl': 191545,
 'terribl actual': 204103,
 'actual play': 6077,
 'play veri': 156885,
 'veri just': 221675,
 'just bad': 109240,
 'bad hole': 18093,
 'hole tripl': 97041,
 'tripl bogey': 214638,
 'bogey quad': 26375,
 'quad away': 164331,
 'away wa': 17384,
 'wa decent': 223808,
 'decent round': 52443,
 'round plu': 175142,
 'plu cours': 157294,
 'cours wa': 46850,
 'wa tough': 225091,
 'tough hadnt': 212659,
 'hadnt play': 89899,
 'play befor': 156596,
 'befor tie': 21695,
 'tie 2nd': 209028,
 '2nd tournament': 2530,
 'tournament idea': 212747,
 'idea strong': 101034,
 'strong leagu': 197251,
 'leagu 86': 116121,
 '86 won': 4061,
 'won group': 233340,
 'group play': 87762,
 'play wa': 156891,
 'wa pretti': 224663,
 'pretti bad': 160971,
 'bad lost': 18121,
 'lost ball': 124473,
 'ball foursom': 18531,
 'foursom kid': 78493,
 'kid kept': 111134,
 'kept hit': 110654,
 'hit tee': 96580,
 'tee just': 203264,
 'just sat': 109911,
 'sat ground': 177394,
 'ground wait': 87654,
 'wait start': 225604,
 'start crack': 194264,
 'crack kind': 47350,
 'kind like': 111623,
 'like judg': 119566,
 'judg american': 108805,
 'american idol': 10308,
 'idol dure': 101198,
 'dure audit': 61986,
 'audit felt': 16519,
 'felt mean': 74096,
 'mean help': 130586,
 'help kid': 94462,
 'kid pretti': 111178,
 'pretti mad': 161075,
 'mad wa': 126490,
 'probabl funniest': 161824,
 'funniest hit': 80912,
 'hit coupl': 96496,
 'coupl time': 46603,
 'time humor': 209655,
 'humor thing': 100131,
 'thing guess': 206624,
 'guess score': 88288,
 'score 12': 179523,
 '12 10': 919,
 '10 hole': 530,
 'hole kind': 97016,
 'kind cheat': 111532,
 'cheat felt': 36186,
 'felt bad': 74036,
 'bad case': 18025,
 'case wonder': 33677,
 'wonder lost': 233579,
 'ball bogey': 18515,
 'bogey birdi': 26372,
 'birdi hadnt': 24115,
 'hadnt lost': 89896,
 'ball ha': 18534,
 'ha believ': 89108,
 'believ spiderman': 22336,
 'spiderman wednesday': 192790,
 'wednesday night': 229271,
 'night brad': 141642,
 'brad pick': 27941,
 'pick bunch': 154773,
 'bunch ticket': 30300,
 'ticket hope': 208947,
 'hope everyon': 98084,
 'everyon earli': 68326,
 'earli dont': 62429,
 'dont sit': 59747,
 'sit aisl': 186526,
 'aisl dodgebal': 8365,
 'dodgebal post': 58488,
 'post probabl': 159350,
 'probabl rent': 161897,
 'rent 1st': 170812,
 '1st spiderman': 1750,
 'spiderman sinc': 192789,
 'sinc havent': 185939,
 'havent seen': 92601,
 'seen think': 180949,
 'say thi': 178573,
 'thi pretti': 205918,
 'pretti long': 161071,
 'long post': 123436,
 'post congrat': 159212,
 'congrat way': 43716,
 'way end': 228295,
 'homework': 97649,
 've': 220882,
 'june': 109080,
 'holiday': 97081,
 'shouldn': 184413,
 'anymor': 12408,
 'fact': 71144,
 'shall': 182836,
 'stupid': 197891,
 'sar': 177270,
 'internet': 104888,
 'eco': 63209,
 'friendli': 79882,
 'print': 161533,
 'said': 176382,
 'death': 52156,
 'iway': 106519,
 'good': 84549,
 'option': 147545,
 'noth': 142903,
 'write': 235886,
 'basic': 19385,
 'sake': 176842,
 'today': 210560,
 'tell': 203407,
 'friend': 79415,
 'chun': 37864,
 'ming': 133483,
 'doubt': 60082,
 'relationship': 169911,
 'friendship': 79913,
 'becaus': 20365,
 'knew': 112165,
 'hormon': 98354,
 'rage': 165644,
 'hi': 94980,
 'appear': 13324,
 'broad': 29021,
 'face': 70879,
 'broader': 29042,
 'use': 219594,
 'skinni': 187175,
 'stalki': 193773,
 'reach': 166516,
 'puberti': 163568,
 'grown': 87907,
 'equal': 66808,
 'height': 93989,
 'bulg': 30122,
 'tummi': 215437,
 'doesn': 58725,
 'bring': 28810,
 'sometim': 190189,
 'chines': 37102,
 'version': 221943,
 'barri': 19197,
 'manilow': 128629,
 'clay': 38884,
 'aiken': 8109,
 'cross': 48376,
 'grow': 87817,
 'plumper': 157406,
 'charact': 35759,
 'obvious': 144113,
 'told': 211301,
 'bodi': 26226,
 'rwalli': 175967,
 'bubbl': 29684,
 'person': 153528,
 'drift': 60849,
 'mouth': 136690,
 'stop': 195888,
 'complain': 42583,
 'talk': 201648,
 'unlik': 217873,
 'jenna': 107165,
 'awarde': 17128,
 'samuel': 177110,
 'spout': 193264,
 'make': 127035,
 'sens': 181461,
 'creativ': 47910,
 'thinker': 207869,
 'involv': 105419,
 'om': 145914,
 'competit': 42541,
 'knick': 112310,
 'younger': 238564,
 'petti': 154052,
 'angri': 10919,
 'onc': 145975,
 'let': 117280,
 'secret': 180499,
 'usual': 220123,
 'check': 36197,
 'wierd': 231832,
 'feel': 73527,
 'll': 122255,
 'corpor': 45724,
 'world': 234781,
 'ambit': 10086,
 'teacher': 202787,
 'howev': 99432,
 'list': 120921,
 'bu': 29599,
 'compani': 42285,
 'head': 92708,
 'land': 114365,
 'transport': 213488,
 'author': 16721,
 'tourist': 212723,
 'singapor': 186201,
 'shoestr': 183887,
 'budget': 29808,
 'public': 163573,
 'look homework': 123819,
 'homework ve': 97670,
 've got': 221007,
 'got june': 85616,
 'june holiday': 109098,
 'holiday realli': 97118,
 'realli shouldn': 167933,
 'shouldn june': 184427,
 'holiday anymor': 97082,
 'anymor fact': 12437,
 'fact shall': 71295,
 'shall home': 182849,
 'home school': 97466,
 'school believ': 179125,
 'believ stupid': 22340,
 'stupid sar': 197972,
 'sar homework': 177271,
 'homework post': 97663,
 'post internet': 159275,
 'internet school': 104941,
 'school eco': 179172,
 'eco friendli': 63211,
 'friendli print': 79900,
 'print homework': 161538,
 'homework like': 97662,
 'like said': 119946,
 'said befor': 176414,
 'befor death': 21456,
 'death iway': 52200,
 'iway good': 106520,
 'good option': 84935,
 'option realli': 147575,
 'realli noth': 167851,
 'noth write': 143102,
 'write basic': 235905,
 'basic post': 19431,
 'post sake': 159369,
 'sake post': 176852,
 'post today': 159407,
 'today like': 210773,
 'said post': 176669,
 'post befor': 159184,
 'befor shall': 21652,
 'shall tell': 182876,
 'tell friend': 203496,
 'friend chun': 79482,
 'chun ming': 37866,
 'ming ve': 133485,
 've said': 221163,
 'said doubt': 176496,
 'doubt relationship': 60117,
 'relationship noth': 169955,
 'noth friendship': 142970,
 'friendship becaus': 79915,
 'becaus knew': 20657,
 'knew befor': 112185,
 'befor hormon': 21527,
 'hormon start': 98358,
 'start rage': 194460,
 'rage hi': 165653,
 'hi appear': 95015,
 'appear ha': 13360,
 'ha realli': 89548,
 'realli realli': 167900,
 'realli broad': 167604,
 'broad face': 29024,
 'face broader': 70906,
 'broader actual': 29043,
 'actual use': 6168,
 'use realli': 219929,
 'realli skinni': 167942,
 'skinni stalki': 187192,
 'stalki ve': 193774,
 've reach': 221146,
 'reach puberti': 166568,
 'puberti ve': 163572,
 've grown': 221013,
 'grown equal': 87913,
 'equal height': 66825,
 'height sport': 94000,
 'sport bulg': 193147,
 'bulg tummi': 30126,
 'tummi doesn': 215441,
 'doesn want': 58862,
 'want bring': 226390,
 'bring realli': 28906,
 'realli sometim': 167949,
 'sometim look': 190272,
 'look look': 123870,
 'look like': 123858,
 'like chines': 119120,
 'chines version': 37140,
 'version barri': 221948,
 'barri manilow': 19204,
 'manilow clay': 128630,
 'clay aiken': 38885,
 'aiken cross': 8110,
 'cross just': 48401,
 'just hi': 109590,
 'hi face': 95219,
 'face grow': 70962,
 'grow just': 87855,
 'just littl': 109691,
 'littl plumper': 121653,
 'plumper someth': 157407,
 'someth doesn': 189866,
 'bring hi': 28863,
 'hi charact': 95107,
 'charact obvious': 35815,
 'obvious told': 144148,
 'told hi': 211376,
 'hi grow': 95285,
 'grow bodi': 87826,
 'bodi rwalli': 26318,
 'rwalli bubbl': 175968,
 'bubbl person': 29696,
 'person drift': 153628,
 'drift hi': 60852,
 'hi mouth': 95434,
 'mouth stop': 136734,
 'stop complain': 195933,
 'complain talk': 42614,
 'talk unlik': 202016,
 'unlik jenna': 217885,
 'jenna awarde': 107166,
 'awarde samuel': 17130,
 'samuel spout': 177114,
 'spout thing': 193268,
 'thing actual': 206379,
 'actual make': 6040,
 'make sens': 127499,
 'sens creativ': 181478,
 'creativ thinker': 47934,
 'thinker like': 207874,
 'like wa': 120212,
 'wa involv': 224267,
 'involv om': 105464,
 'om competit': 145916,
 'competit ha': 42553,
 'ha knick': 89391,
 'knick shoot': 112312,
 'shoot hi': 183927,
 'mouth sometim': 136732,
 'sometim younger': 190364,
 'younger petti': 238578,
 'petti got': 154055,
 'got realli': 85775,
 'realli angri': 167567,
 'angri onc': 10952,
 'onc let': 146076,
 'let secret': 117471,
 'secret usual': 180561,
 'usual hi': 220178,
 'mouth check': 136698,
 'check wierd': 36355,
 'wierd feel': 231835,
 'feel ll': 73734,
 'll make': 122465,
 'make corpor': 127151,
 'corpor world': 45757,
 'world hi': 234926,
 'hi stupid': 95651,
 'stupid ambit': 197893,
 'ambit teacher': 10090,
 'teacher hi': 202818,
 'hi ha': 95292,
 'ha howev': 89355,
 'howev list': 99488,
 'list ambit': 120927,
 'ambit bu': 10087,
 'bu compani': 29619,
 'compani head': 42332,
 'head land': 92841,
 'land transport': 114445,
 'transport author': 213490,
 'author ani': 16723,
 'ani tourist': 11364,
 'tourist singapor': 212733,
 'singapor shoestr': 186217,
 'shoestr budget': 183888,
 'budget help': 29818,
 'help public': 94517,
 'public transport': 163652,
 'hey': 94852,
 'bit': 24275,
 'wow': 235677,
 'king': 111846,
 'arthur': 14792,
 'entri': 66501,
 'ok': 145173,
 'updat': 218213,
 'happen': 91106,
 'space': 191807,
 'import': 102188,
 'obtain': 144070,
 'sheet': 183260,
 'music': 137616,
 'mapl': 128774,
 'leaf': 116060,
 'rag': 165635,
 'skill': 187081,
 'requir': 171435,
 'total': 212453,
 'reward': 172748,
 'song': 190550,
 'listen': 121032,
 'clip': 39333,
 'right': 173200,
 'absolutley': 4846,
 'amaz': 9973,
 'action': 5684,
 'pack': 149115,
 'birthday': 24156,
 'parti': 150456,
 'immideatli': 102029,
 'gig': 82878,
 'coffe': 40258,
 'shop': 183964,
 'known': 113242,
 'kaff': 110240,
 'bona': 26478,
 'ride': 173068,
 'tim': 209265,
 'conveni': 44917,
 'practic': 159990,
 'hous': 99091,
 'wasn': 227372,
 'obstacl': 144065,
 'provid': 163329,
 'dinner': 56732,
 'didn': 55697,
 'plan': 156145,
 'eat': 62910,
 'anyth': 12670,
 'food': 77262,
 'poker': 157901,
 'did': 55269,
 'present': 160588,
 'forgot': 78019,
 'chang': 35387,
 'soon': 190750,
 'piano': 154656,
 'door': 59842,
 'walmart': 226121,
 'finger': 75450,
 'eaten': 63116,
 'guitar': 88476,
 'string': 197122,
 'need': 139574,
 'superglu': 199485,
 'wouldn': 235522,
 'hurt': 100342,
 'solo': 189335,
 'thought': 208007,
 'medic': 131031,
 'suppli': 199578,
 'work': 234133,
 'caus': 34172,
 'cut': 49255,
 'rest': 172015,
 'civil': 38432,
 'band': 18663,
 'aid': 8073,
 'neighbor': 140144,
 'middl': 132684,
 'sentenc': 181669,
 'whi': 231048,
 'woud': 235513,
 'someon': 189489,
 'glue': 83777,
 'cash': 33689,
 'regist': 169616,
 'empti': 65033,
 'express': 70274,
 'lane': 114474,
 'guy': 88636,
 'dollar': 59062,
 'minut': 133609,
 'car': 32571,
 'maneuvr': 128294,
 'lot': 124605,
 'median': 131028,
 'rel': 169834,
 'small': 188056,
 'begin': 21814,
 'mani': 128320,
 'peopl': 152281,
 'rake': 165888,
 'quit': 164989,
 'audienc': 16472,
 'money': 135183,
 'stuffi': 197846,
 'ahead': 7940,
 '15': 1214,
 'real': 167136,
 'horrid': 98443,
 'dismiss': 57642,
 'ryan': 175971,
 'derang': 54176,
 'couldn': 46033,
 'hear': 93123,
 'girl': 82987,
 'vocal': 222917,
 'second': 180347,
 'guitarist': 88492,
 'repetit': 170981,
 '20': 1762,
 'key': 110782,
 'keyboard': 110847,
 'weird': 229939,
 'throw': 208605,
 'light': 118711,
 'bulb': 30105,
 'box': 27612,
 'break': 28235,
 'nois': 142272,
 'repeatedli': 170958,
 'lightbulb': 118839,
 'cell': 34668,

In [1190]:
#Convert Training into Count Vectors
x_train_ct = cvect.transform(x_train)

In [1191]:
x_train_ct.shape

(4000, 239055)

In [1192]:
x_train_ct[0]

<1x239055 sparse matrix of type '<class 'numpy.int64'>'
	with 545 stored elements in Compressed Sparse Row format>

In [1193]:
#What's there in sparse matrix
print(x_train_ct[0])

  (0, 471)	2
  (0, 530)	1
  (0, 576)	1
  (0, 916)	1
  (0, 919)	1
  (0, 1728)	1
  (0, 1750)	1
  (0, 2500)	1
  (0, 2530)	1
  (0, 2970)	1
  (0, 2977)	1
  (0, 4052)	1
  (0, 4061)	1
  (0, 4085)	1
  (0, 4089)	1
  (0, 5855)	2
  (0, 5992)	1
  (0, 6077)	1
  (0, 8361)	1
  (0, 8365)	1
  (0, 10239)	1
  (0, 10308)	1
  (0, 10995)	1
  (0, 11210)	1
  (0, 13511)	1
  :	:
  (0, 229318)	1
  (0, 229479)	1
  (0, 230152)	1
  (0, 230578)	1
  (0, 232021)	1
  (0, 232033)	1
  (0, 233280)	1
  (0, 233340)	1
  (0, 233455)	1
  (0, 233579)	1
  (0, 235263)	2
  (0, 235300)	1
  (0, 235307)	1
  (0, 235615)	1
  (0, 235625)	1
  (0, 236442)	1
  (0, 236444)	1
  (0, 236828)	1
  (0, 236830)	1
  (0, 236987)	1
  (0, 237203)	1
  (0, 237244)	1
  (0, 237389)	1
  (0, 238649)	1
  (0, 238677)	1

In [1194]:
#convert x_test also into numerical features
x_test_ct = cvect.transform(x_test)

In [1195]:
x_test_ct.shape

(1000, 239055)

# 6. Create a dictionary to get the count of every label i.e. the key will be label name and value will be the total count of the label. Check below image for reference (5 points)

In [1196]:
df_labels = df_modified['labels']

In [1197]:
df_labels.head()

0                   male,15,Student,Leo
1                   male,15,Student,Leo
2                   male,15,Student,Leo
3                   male,15,Student,Leo
4    male,33,InvestmentBanking,Aquarius
Name: labels, dtype: object

In [1198]:
label_arr = df_labels.to_numpy()

In [1199]:
label_arr

array(['male,15,Student,Leo', 'male,15,Student,Leo',
       'male,15,Student,Leo', ..., 'female,17,indUnk,Scorpio',
       'female,17,indUnk,Scorpio', 'female,17,indUnk,Scorpio'],
      dtype=object)

In [1200]:
map = {}
count = 0
for label in label_arr:
  s = label[1:len(label)-1]
  a = s.split(',')
  count = count+ 1
  for token in a:
    if(token not in map.keys()):
      map[token] = 1
    else:
      map[token]= map[token] + 1 
print(count)

5000

In [1201]:
for token, count in map.items(): 
    print(token, ":", count)

ale : 3294
15 : 339
Student : 569
Le : 190
33 : 101
InvestmentBanking : 70
Aquariu : 329
emale : 1706
14 : 170
indUnk : 1381
Arie : 2483
25 : 268
Capricor : 84
17 : 331
Gemin : 86
23 : 137
Non-Profit : 47
Cance : 94
Banking : 16
37 : 19
Sagittariu : 704
26 : 96
24 : 353
Scorpi : 408
27 : 86
Education : 118
45 : 14
Engineering : 119
Libr : 414
Science : 33
34 : 540
41 : 14
Communications-Media : 61
BusinessServices : 87
Sports-Recreation : 75
Virg : 41
Tauru : 100
Arts : 31
Pisce : 67
44 : 3
16 : 67
Internet : 20
Museums-Libraries : 2
Accounting : 2
39 : 79
35 : 2307
Technology : 2332
36 : 60
Law : 3
46 : 7
Consulting : 16
Automotive : 14
42 : 9
Religion : 4

# 7. Transform the labels - (7.5 points) As we have noticed before, in this task each example can have multiple tags. To deal with such kind of prediction, we need to transform labels in a binary form and the prediction will be a mask of 0s and 1s. For this purpose, it is convenient to use MultiLabelBinarizer from sklearn
## a. Convert your train and test labels using MultiLabelBinarizer

In [1243]:
from sklearn.preprocessing import MultiLabelBinarizer

In [1203]:
# an empty list
y_train_list = [] 

for i in y_train: 
    y_train_list.append(i.split(",")) 
    #print(i)
    #print(i.split(","))

In [1204]:
y_train_list

[['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '14', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '39', 'Education', 'Virgo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'BusinessServices', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '25', 'indUnk', 'Libra'],
 ['male', '17', 'Student', 'Sagittarius'],
 ['female', '14', 'indUnk', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '23', 'Student', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '39', 'Education', 'Virgo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '33', 'Law', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['female', '23', 'Automotive', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'indUnk', 'Taurus'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '14', 'indUnk', 'Leo'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'indUnk', 'Libra'],
 ['female', '23', 'Automotive', 'Aquarius'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'indUnk', 'Aquarius'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Gemini'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '24', 'BusinessServices', 'Cancer'],
 ['female', '33', 'Banking', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'BusinessServices', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '25', 'Internet', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['female', '24', 'indUnk', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'BusinessServices', 'Aries'],
 ['male', '25', 'BusinessServices', 'Sagittarius'],
 ['female', '23', 'Student', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '25', 'Technology', 'Aries'],
 ['female', '26', 'Science', 'Sagittarius'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '14', 'indUnk', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Non-Profit', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['female', '14', 'indUnk', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '14', 'indUnk', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '26', 'indUnk', 'Libra'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Virgo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '39', 'Education', 'Virgo'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '15', 'Student', 'Sagittarius'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['female', '17', 'Student', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Technology', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '14', 'Student', 'Scorpio'],
 ['female', '14', 'indUnk', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['female', '16', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '25', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Science', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'BusinessServices', 'Cancer'],
 ['female', '15', 'Student', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '42', 'Consulting', 'Leo'],
 ['female', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'BusinessServices', 'Cancer'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Non-Profit', 'Cancer'],
 ['male', '25', 'Non-Profit', 'Cancer'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'indUnk', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '25', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '35', 'indUnk', 'Gemini'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '23', 'Automotive', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'BusinessServices', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '39', 'Education', 'Virgo'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'indUnk', 'Taurus'],
 ['male', '46', 'Consulting', 'Gemini'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'indUnk', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '25', 'Non-Profit', 'Cancer'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '16', 'indUnk', 'Leo'],
 ['female', '17', 'Student', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Non-Profit', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Student', 'Aquarius'],
 ['male', '17', 'Student', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'BusinessServices', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '23', 'indUnk', 'Taurus'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '16', 'indUnk', 'Taurus'],
 ['male', '15', 'Science', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '14', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '25', 'Student', 'Taurus'],
 ['female', '17', 'Student', 'Gemini'],
 ['female', '17', 'Student', 'Gemini'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '14', 'indUnk', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Leo'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '17', 'Student', 'Scorpio'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '16', 'indUnk', 'Gemini'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '41', 'Communications-Media', 'Libra'],
 ['male', '25', 'Arts', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '41', 'Communications-Media', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '15', 'indUnk', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '14', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '16', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'indUnk', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '25', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '37', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Science', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '14', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '25', 'BusinessServices', 'Sagittarius'],
 ['male', '16', 'indUnk', 'Gemini'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],

In [1205]:
# an empty list
y_test_list = [] 

for i in y_test: 
    y_test_list.append(i.split(",")) 
    #print(i)
    #print(i.split(","))

In [1206]:
y_test_list

[['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Arts', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '14', 'indUnk', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '45', 'indUnk', 'Sagittarius'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '41', 'Communications-Media', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Internet', 'Aries'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '15', 'Student', 'Leo'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '26', 'indUnk', 'Libra'],
 ['female', '33', 'Banking', 'Aquarius'],
 ['female', '17', 'Student', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['male', '17', 'Student', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'indUnk', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '26', 'indUnk', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '16', 'BusinessServices', 'Sagittarius'],
 ['male', '26', 'indUnk', 'Leo'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '24', 'indUnk', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['male', '41', 'Communications-Media', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '25', 'BusinessServices', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '17', 'Student', 'Aries'],
 ['female', '14', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '37', 'indUnk', 'Aquarius'],
 ['male', '15', 'Science', 'Libra'],
 ['female', '16', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'BusinessServices', 'Aries'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'Student', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'Student', 'Sagittarius'],
 ['female', '15', 'Student', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'indUnk', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Arts', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '14', 'Student', 'Scorpio'],
 ['female', '26', 'Science', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '25', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '24', 'BusinessServices', 'Cancer'],
 ['female', '16', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '14', 'Student', 'Leo'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '15', 'Student', 'Aquarius'],
 ['female', '37', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '15', 'Student', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '17', 'Student', 'Virgo'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Student', 'Aquarius'],
 ['female', '16', 'Student', 'Libra'],
 ['female', '14', 'indUnk', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '35', 'indUnk', 'Gemini'],
 ['female', '25', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'Non-Profit', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '16', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Education', 'Virgo'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '25', 'indUnk', 'Sagittarius'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '33', 'Banking', 'Aquarius'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '23', 'indUnk', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '17', 'Student', 'Aries'],
 ['female', '17', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Arts', 'Cancer'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '23', 'Student', 'Taurus'],
 ['male', '25', 'BusinessServices', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '17', 'Student', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'BusinessServices', 'Aries'],
 ['female', '23', 'Student', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '15', 'Student', 'Cancer'],
 ['female', '25', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Education', 'Virgo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '41', 'Communications-Media', 'Libra'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '26', 'Museums-Libraries', 'Leo'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '23', 'Student', 'Sagittarius'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '23', 'Student', 'Taurus'],
 ['female', '16', 'indUnk', 'Taurus'],
 ['female', '33', 'Banking', 'Aquarius'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Leo'],
 ['female', '17', 'Student', 'Gemini'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'Student', 'Leo'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '15', 'Student', 'Gemini'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '23', 'indUnk', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '37', 'indUnk', 'Aquarius'],
 ['female', '16', 'Student', 'Libra'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '15', 'Arts', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '25', 'BusinessServices', 'Sagittarius'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['female', '23', 'Automotive', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '25', 'Internet', 'Aries'],
 ['female', '16', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '16', 'indUnk', 'Leo'],
 ['female', '37', 'indUnk', 'Aquarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '14', 'Student', 'Scorpio'],
 ['female', '25', 'Student', 'Taurus'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '42', 'Consulting', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '17', 'Student', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],

In [1207]:
mlb = MultiLabelBinarizer()


y_train_mlb = mlb.fit_transform(y_train_list)
y_test_mlb = mlb.transform(y_test_list)

In [1208]:
list(mlb.classes_)

['14',
 '15',
 '16',
 '17',
 '23',
 '24',
 '25',
 '26',
 '27',
 '33',
 '34',
 '35',
 '36',
 '37',
 '39',
 '41',
 '42',
 '44',
 '45',
 '46',
 'Accounting',
 'Aquarius',
 'Aries',
 'Arts',
 'Automotive',
 'Banking',
 'BusinessServices',
 'Cancer',
 'Capricorn',
 'Communications-Media',
 'Consulting',
 'Education',
 'Engineering',
 'Gemini',
 'Internet',
 'InvestmentBanking',
 'Law',
 'Leo',
 'Libra',
 'Museums-Libraries',
 'Non-Profit',
 'Pisces',
 'Religion',
 'Sagittarius',
 'Science',
 'Scorpio',
 'Sports-Recreation',
 'Student',
 'Taurus',
 'Technology',
 'Virgo',
 'female',
 'indUnk',
 'male']

In [1209]:
y_train_mlb[100]

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [1210]:
print(y_train_mlb.shape)
print(y_test_mlb.shape)

(4000, 54)
(1000, 54)

# 8. choose a classifier - (5 points) In this task, we suggest using the One-vs-Rest approach, which is implemented in OneVsRestClassifier class. In this approach k classifiers (= number of tags) are trained. As a basic classifier, use LogisticRegression. It is one of the simplest methods, but often it performs good enough in text classification tasks. It might take some time because the number of classifiers to train is large.
## a. Use a linear classifier of your choice, wrap it up in OneVsRestClassifier to train it on every label
## b. As One-vs-Rest approach might not have been discussed in the sessions, we are providing you the code for that

In [1211]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

lg = LogisticRegression(solver='lbfgs',max_iter=1000)
#lg = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(lg)

In [1212]:
clf.fit(x_train_ct, y_train_mlb)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=1000,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [1213]:
predicted = clf.predict(x_test_ct)

In [1214]:
predicted

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0]])

In [1215]:
# summarize the fit of the model
model_score = clf.score(x_test_ct, y_test_mlb)
print(model_score)

0.552

In [1216]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_mlb, predicted)

0.552

# Fit the classifier, make predictions and get the accuracy (5 points)
## a. Print the following
### i. Accuracy score
### ii. F1 score
### iii. Average precision score
### iv. Average recall score
### v. Tip: Make sure you are familiar with all of them. How would you expect the things to work for the multi-label scenario? Read about micro/macro/weighted averaging

In [1217]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
print('Accuracy: ', accuracy_score(y_test_mlb, predicted))
print('Precison: ', precision_score(y_test_mlb, predicted,average='micro'))
print('Recall: ', recall_score(y_test_mlb, predicted,average='micro'))
print('F1: ', f1_score(y_test_mlb, predicted,average='micro'))

Accuracy:  0.552
Precison:  0.84435558289757
Recall:  0.68625
F1:  0.7571369466280513

# 10. Print true label and predicted label for any five examples (7.5 points)

In [1235]:
for i in range(0,5):
    print("    True Label : " ,y_test_mlb[i])
    print("Predicted Label: " ,predicted[i])
    print("\n")

    True Label :  [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1]
Predicted Label:  [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1]


    True Label :  [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0]
Predicted Label:  [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0]


    True Label :  [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1]
Predicted Label:  [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1]


    True Label :  [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0]
Predicted Label:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0]


    True Label :  [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1]
Predicted Label:  [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1]

In [1236]:
y = mlb.inverse_transform(y_test_mlb)
y_pred = mlb.inverse_transform(predicted)

In [1240]:
for i in range(0,5):
    print("    True Label : " ,y[i])
    print("Predicted Label: " ,y_pred[i])
    print("\n")

    True Label :  ('35', 'Aries', 'Technology', 'male')
Predicted Label:  ('35', 'Aries', 'Technology', 'male')


    True Label :  ('34', 'Sagittarius', 'female', 'indUnk')
Predicted Label:  ('34', 'Sagittarius', 'female', 'indUnk')


    True Label :  ('35', 'Aries', 'Technology', 'male')
Predicted Label:  ('35', 'Aries', 'Technology', 'male')


    True Label :  ('34', 'Sagittarius', 'female', 'indUnk')
Predicted Label:  ('female', 'indUnk')


    True Label :  ('35', 'Aries', 'Technology', 'male')
Predicted Label:  ('35', 'Aries', 'Technology', 'male')